<div class="question">
  <div class='q_name'><%= question.name %></div>
  <div class='q_choices'>
    <% index = 0 %>
    <% question.options.each do |option| %>
        <% index += 1 %>
        <div class="q_choice">
          <span class="c_index"><%= index %></span>
          <em class="c_elt"><%= option.name %></em>
          <button class="vote_button" id="<%= option.id %>" type='button'>vote</button>
          <span class='c_count'><%= option.vote_count %></span>
        </div>
    <% end %>
  </div>
</div>